body {
    text-align: center;
}

#inputChar {
    width: 3em;
}

.inputSize {
    width: 1em;
    text-align: right;
    appearance: textfield;
}

button {
    padding: 4px;
    border-radius: 0.5em;
    background-color: lightblue;
    border: none;
    cursor: pointer;
}

table {
    margin: auto;
    border: solid;
}

thead {
    border-bottom: solid;
}

td {
    width: 2em;
    text-align: center;
}

th, td {
    height: 2em;
    cursor: default;
    user-select: none;
    font-size: auto;
    font-weight: normal;
}

.leftProblem {
    text-align: left;
    padding-left: 5%;
    border-right: none;
    width: 6em;
}

.leftAnswer {
    text-align: right;
    padding-right: 5%;
    border-right: solid;
    border-left: none;
    width: 2em;
}

.problemChar {
    color: black;
}

.problemNumber {
    color: black;
}

.answerChar {
    color: green;
}

.hidden {
    display: none;
}