body {
    text-align: center;
}

table {
    margin: auto;
    border: solid;
}

thead {
    border-bottom: solid;
}

th {
    border-right: solid;
}

thead, tbody {
    text-align: center;
}

.problemChar {
    font-size: xx-large;
    border: none;
    text-align: left;
    color: black;
    width: 5em;
}

.problemNumber {
    font-size: xx-large;
    text-align: center;
    color: black;
    width: 1.5em;
    cursor: default;
    user-select: none;
}

.answerChar {
    font-size: xx-large;
    border: none;
    text-align: center;
    color: green;
    width: 1.5em;
}
